body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button.btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn:hover {
    background-color: #0056b3;
}

#instruction{
    color: aliceblue;
    font-family: fantasy;
    font-size: xx-large;
}

#staticButton{
    margin: 5px 5px 5px 5px ;
}